<%- include('../includes/header') %>

  <form action="/" method="get">
    <div class="card">
      <div class="card-body">
        <div class="form-floating mb-3">
          <select class="form-select" name="gacha" id="gacha">
            <option value="normal" selected>ノーマルガチャ</option>
          </select>
          <label for="gacha">ガチャ</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" class="form-control" name="seed" id="seed" placeholder="シード値" <%- seed ? `value="${seed}"
            ` : '' %>>
          <label for="seed">シード値</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="true" name="details" id="details" <%- details
            ? 'checked' : '' %>>
          <label class="form-check-label" for="details">
            上級者向けモード
          </label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary">入力を反映</button>
        </div>
      </div>
    </div>
  </form>

  <% if (data && details) { %>
    <div class="text-center" style="margin-top: 20px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Seed</th>
            <th scope="col">Score, slot</th>
            <th scope="col">Alt. score, slot</th>
            <th scope="col">Seed</th>
            <th scope="col">Alt. No.</th>
          </tr>
        </thead>
        <tbody>
          <% resultA.forEach((resA, index)=> { %>
            <% const resB=resultB[index]; %>
              <tr>
                <th scope="row" rowspan="2">
                  <%- index + 1 %>A
                </th>
                <td>
                  <%- resA.seed1 %>
                </td>
                <td>
                  <%- resA.score %>
                </td>
                <% if (index !==0) { %>
                  <td>
                    <%- resB.chara %>
                  </td>
                  <td>
                    <%- resA.seed1 %>
                  </td>
                  <% } else { %>
                    <td colspan="3"></td>
                    <% } %>
              </tr>
              <tr>
                <td>
                  <%- resA.seed2 %>
                </td>
                <td>
                  <%- resA.chara %>
                </td>
                <% if (index !==200) { %>
                  <td>
                    <%- resB.score %>
                  </td>
                  <td>
                    <%- resA.seed2 %>
                  </td>
                  <th scope="row" rowspan="2">
                    <%- index + 1 %>B
                  </th>
                  <% } else { %>
                    <td colspan="3"></td>
                    <% } %>
              </tr>
              <% }) %>
        </tbody>
      </table>
    </div>
    <% } else if (data) { %>
      <div class="text-center" style="margin-top: 20px;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">結果</th>
              <th scope="col">Alt. 結果</th>
              <th scope="col">Alt. No.</th>
            </tr>
          </thead>
          <tbody>
            <% resultA.forEach((resA, index)=> { %>
              <% const resB=resultB[index]; %>
                <tr>
                  <th scope="row" rowspan="2">
                    <%- index + 1 %>A
                  </th>
                  <td rowspan="2">
                    <%- resA.chara %>
                  </td>
                  <% if (index===0) { %>
                    <td colspan="3"></td>
                    <% } %>
                </tr>
                <tr>
                  <% if (index !==200) { %>
                    <td rowspan="2">
                      <%- resB.chara %>
                    </td>
                    <th scope="row" rowspan="2">
                      <%- index + 1 %>B
                    </th>
                    <% } else { %>
                      <td colspan="2"></td>
                      <% } %>
                </tr>
                <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>

        <%- include('../includes/footer') %>