<%- include('../includes/header') %>

<form action="/" method="get">
  <div class="input-group mb-3">
    <input
      type="number"
      name="seed"
      class="form-control"
      <%- seed ? 'placeholder="seed"' : '' %>
      placeholder="シード値"
      aria-label="シード値"
      aria-describedby="seed"
    />
    <button class="btn btn-primary" id="seed">決定</button>
  </div>
</form>

<% if (data) { %>
<div class="text-center">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Seed</th>
      <th scope="col">Score, slot</th>
      <th scope="col">Alt. score, slot</th>
      <th scope="col">Seed</th>
      <th scope="col">Alt. No.</th>
    </tr>
  </thead>
  <tbody>
    <% resultA.forEach((resA, index) => { %>
      <% const resB = resultB[index]; %>
    <tr>
      <th scope="row" rowspan="2"><%- index + 1 %>A</th>
      <td><%- resA.seed1 %></td>
      <td><%- resA.score %></td>
      <% if (index !== 0) { %>
      <td><%- resB.chara %></td>
      <td><%- resA.seed1 %></td>
      <% } else { %>
      <td colspan="3"></td>
      <% } %>
    </tr>
    <tr>
      <td><%- resA.seed2 %></td>
      <td><%- resA.chara %></td>
      <% if (index !== 200) { %>
      <td><%- resB.score %></td>
      <td><%- resA.seed2 %></td>
      <th scope="row" rowspan="2"><%- index + 1 %>B</td>
      <% } else { %>
      <td colspan="3"></td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>
<% } %>

<%- include('../includes/footer') %>
